Decode MIME-encoded author names retrieved from email field when displaying in project sidebars

**Describe the bug**
<!-- A clear and concise description the bug -->
I stumbled upon $sbj by accident.

This is what https://pypi.org/p/typer and https://pypi.org/p/typer-slim display:
> Author: [=?utf-8?q?Sebasti=C3=A1n_Ram=C3=ADrez?=](mailto:tiangolo@gmail.com)

**Expected behavior**
<!-- A clear and concise description of what you expected to happen -->
It should render
> Author: [Sebastián Ramírez](mailto:tiangolo@gmail.com)

instead.

**To Reproduce**
<!-- Steps to reproduce the bug, or a link to PyPI where the bug is visible -->
Upload a package with author name having unicode chars, it seems.

**My Platform**

N/A

**Additional context**
<!-- Add any other context, links, etc. about the feature here. -->
The rendered text is exactly as it appears in the metadata:
* https://inspector.pypi.io/project/typer/0.20.0/packages/78/64/7713ffe4b5983314e9d436a90d5bd4f63b6054e2aca783a3cfc44cb95bbf/typer-0.20.0-py3-none-any.whl/typer-0.20.0.dist-info/METADATA#line.5
* https://inspector.pypi.io/project/typer/0.20.0/packages/8f/28/7c85c8032b91dbe79725b6f17d2fffc595dff06a35c7a30a37bef73a1ab4/typer-0.20.0.tar.gz/typer-0.20.0/PKG-INFO#line.5

I imagine warehouse probably assumes that whatever's in the email name portion is plain text `latin-1` and doesn't need decoding, which is evidently not the case here.

The projects seem to be built with PDM. Additionally, PEP 621 medadata field uses unicode literals in `pyproject.toml`: https://github.com/fastapi/typer/blob/7be1c8db9fa2475f1c4537e57c053cb864aed963/pyproject.toml#L10C14-L10C31.

I checked the metadata across the versions and discovered that it's all v2.1 but the way author is represented changed twice over time:

#### [`typer <= 0.10.0`](https://inspector.pypi.io/project/typer/0.10.0/packages/d9/07/8100c125307a26f03c305764f22cd995ae1878071ddf1df3588add73b53c/typer-0.10.0-py3-none-any.whl/typer-0.10.0.dist-info/METADATA#line.6)
```email
Author: Sebastián Ramírez
Author-email: tiangolo@gmail.com
```

#### [`typer >= 0.11.0, <= 0.12.3`](https://inspector.pypi.io/project/typer/0.12.3/packages/20/b5/11cf2e34fbb11b937e006286ab5b8cfd334fde1c8fa4dd7f491226931180/typer-0.12.3-py3-none-any.whl/typer-0.12.3.dist-info/METADATA#line.6)
```email
Author-Email: Sebastián Ramírez <tiangolo@gmail.com>
```

#### [`typer >= 0.12.4`](https://inspector.pypi.io/project/typer/0.12.4/packages/ae/cc/15083dcde1252a663398b1b2a173637a3ec65adadfb95137dc95df1e6adc/typer-0.12.4-py3-none-any.whl/typer-0.12.4.dist-info/METADATA#line.5)
```email
Author-Email: =?utf-8?q?Sebasti=C3=A1n_Ram=C3=ADrez?= <tiangolo@gmail.com>
```

The [metadata spec says](https://packaging.python.org/en/latest/specifications/core-metadata/#author-email) that this field is expected to follow RFC 822, which is rather antiquated these days. It's obsoleted by RFC 2822, and updated by RFC 1123, RFC 2156, RFC 1327, RFC 1138 and RFC 1148. RFC 2822, in turn, is obsoleted by RFC 5322 and updated by RFC 5335, RFC 5336.

It seems like those newer RFCs explicitly document that for non-US ASCII chars, MIME encoding is expected to be used. So I think that PDM does the correct thing in the most recent representation variant and PyPI should process it accordingly too.

It may be reasonable to update the metdata spec to be a bit more explicit about this, though.

Typer v0.12.4 was released on Aug 17, 2024. Which means it was probably produced with PDM v2.18.1 (published just a day before — on Aug 16, 2024). I, however, haven't noticed anything related in the change log: https://pdm-project.org/en/latest/dev/changelog/#release-v2181-2024-08-16. So it might be coming from a transitive dependency or CPython runtime having been updated at the same time.